@using PrintShop.Models.Entity
@model PrintShop.ViewModels.ImagingViewModel

@{
    ViewData["Title"] = "Imaging Center";

}

<h1>Imaging</h1>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <select asp-for="Project" asp-items="Model.Projects" class="form-control" id="Project" value =""></select>
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div id="taskContainer" class="form-group">                
                <label asp-for="Task" class="control-label"></label>
                <select asp-for="Task" asp-items="@Model.Tasks" class="form-control"></select>
                <span asp-validation-for="Task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostCenter" class="control-label"></label>
                <input asp-for="CostCenter" class="form-control" readonly="readonly" required="required"/>
                <span asp-validation-for="CostCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" required="required" min=0/>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <select asp-for="Activity" asp-items="Model.Activities" class="form-control" required="required">
                    <option selected disabled>-- select --</option>
                </select>
            </div>
            <div class="form-group" style="margin-top: 1%">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>

     $(document ).ready(function() { 
                var selected = $('#Project option:selected').text();
               
                    $.ajax({
                    type: "GET",
                    url: `@Url.Action("GetTasksByProjectId", "Home")?projectId=${selected}`,
                    success: function(msg) {
                        $('#taskContainer').html(msg);
                        UpdateCostCenter();
                        $("#Task").on('change', UpdateCostCenter);
                       
                    },
                    error: function(req, status, error) {
                        console.log(error);
                    }
});
        function UpdateCostCenter() {
            var selected = $('#Task option:selected').text();
            var project = $('#Project option:selected').text();
            console.log(selected)
            $.ajax({
                type: "GET",
                url: `@Url.Action("GetCostCenterByProjectIdTaskId", "Home")?projectId=${project}&size=${size}`,
                success: function(msg) {
                    $('#CostCenter').val(msg);
                },
                error: function(req, status, error) {
                    console.log(error);
                }
            });
        }
});
</script>
@section scripts {
   
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script>
         $("#Project").on('change',
            function() {
                var selected = $('#Project option:selected').text();
                    $.ajax({
                    type: "GET",
                    url: `@Url.Action("GetTasksByProjectId", "Home")?projectId=${selected}`,
                    success: function(msg) {
                        $('#taskContainer').html(msg);
                        UpdateCostCenter();
                        $("#Task").on('change', UpdateCostCenter);
                       
                    },
                    error: function(req, status, error) {
                        console.log(error);
                    }
                });
                
            });
            $("#Task").on('change', UpdateCostCenter);

        function UpdateCostCenter() {
            var selected = $('#Task option:selected').text();
            var project = $('#Project option:selected').text();
            console.log(selected)
            $.ajax({
                type: "GET",
                url: `@Url.Action("GetCostCenterByProjectIdTaskId", "Home")?projectId=${project}&taskId=${selected}`,
                success: function(msg) {
                    $('#CostCenter').val(msg);
                },
                error: function(req, status, error) {
                    console.log(error);
                }
            });
        }
     </script>


}
    